<!DOCTYPE html>

<html>
    <head>
        {{>heads}}
    </head>
    <body>
        <div class="contenido-principal">
            {{>headers}}
            <p>{{msg404}}</p>
        </div>
        {{>footer}}
    </body>
</html>