<!DOCTYPE html>

<html>
    <head>
       {{>heads}}
    </head>
    <body>
        <div class="contenido-principal">
            {{>headers}}
            <img src="./img/pic1.png" class="retrato">
        </div>
        {{>footer}}
    </body>
</html>