<!DOCTYPE html>

<html>
    <head>
       {{>heads}}
    </head>
    <body>
        <div class="contenido-principal">
            {{>headers}}
            Este sitio ha sido creado por Efrain Villegas. Utiiza los servicios de mapbox.com  y openweathermap.org!
            <br><br>
            <img src="./img/pic1.png" class="retrato">
        </div>
        {{>footer}}
    </body>
</html>