<!DOCTYPE html>

<html>
    <head>
        {{>heads}}
    </head>
    <body>
        <div class="contenido-principal">
            {{>headers}}

            <p>Use este sitio para consultar su clima</p>

            <form>
                <input placeholder="Ciudad o direccion...">
                <button>Buscar</button>
            </form>
            <p id="msg1"></p>
            <p id="clima"></p>
            <p id="temperatura"></p>
            <p id="min"></p>
            <p id="max"></p>
            <p id="presion"></p>
            <p id="humedad"></p>
        </div>
        
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>